.books {
  margin: 12px 0;
  padding: 0;
  height: 300px;
  width:200px;
  border-radius: 1rem;
  border: none;
  background-color: transparent;
  &--even {
  }
  &--odd {
    margin: -8px;
  }
  &-cover {
    border-radius: 1rem;
    border: none;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    &--even {
    }
    &--odd {
      margin: -8px;
    }
  }
  &-latest {
  }
}
.gridView {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr .5fr;
}
