.navbar {
  position: sticky;
  top: 0;
  display: grid;
  z-index: 1000;
  background-color: rgb(0 0 0 / 40%);
  height: 3rem;
  margin: 0 1rem;
  padding: 12px 0;
  text-align: center;
  align-content: center;
  vertical-align: center;
  border-radius: 0.5rem;
  ul {
    padding-inline-start: 0;
  }
  &-list {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    text-align: center;

    li {
      display: inline;
      list-style: none;
      h3{
        color: #eeeeee;

      }
      vertical-align: middle;
      text {
        margin: 1rem 0;
      }
      h3 {
        margin: 12px 0;
      }
      .MuiButtonBase-root {
        color: #eeeeee;
      }
    }
  }
  &-text {
    &--primary {
      color: rgb(237, 132, 40);
    }
    &--secondary {
      color: #340456;
    }
  }
  &-button {
    background-color: transparent;
    font-weight: 500;
    font-size: large;
    border: none;
    padding-top: 6px;
    &--primary {
      color: rgb(237, 132, 40);
    }
    &--secondary {
      color: #340456;
    }
  }
}
.bottomNav {
  @extend .navbar;
  background-color: rgba(255, 255, 255);
  border-radius: 0.5rem;
  position: sticky;
  margin: 12px 0 0;
  z-index: 1000;
  padding: 16px 0;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  height: fit-content;
  ul {
    margin: 0;
  }
}
